<div class="main-body">
    <div id="product-section">
        <div class="form-column">
        <select onchange="onValueselect()" class="form-control" name="product" id="product">
            <option value="0">--Select--</option>
            {{#each products}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
        </div>
        <div class="form-column">
            <input type="number" name="cost" id="cost" class="form-control" placeholder="Cost" readonly>
        </div>
        <div class="form-column">
            <input type="number" placeholder="Quantity" onchange="setPrice()" class="form-control" name="quantity" id="quantity">
        </div>
        <div class="form-column">
            <input type="number" placeholder="Price" class="form-control" name="price" id="price" readonly>
        </div>
        <div class="form-column">
            <button class="btn-primary">Add</button>
        </div>
    </div>
</div>
<div class="bill-section">
    <table id="bill-table">
        <caption id="table-title">Bill section</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>ProductName</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Price</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each bills}}
              <tr>
                  <td>{{this.id}}</td>
                  <td>{{this.productname}}</td>
                  <td>{{this.quantity}}</td>
                  <td>{{this.cost}}</td>
                  <td>{{this.price}}</td>
                  <td><button class="btn-alert">Edit</button></td>
                  <td><button class="btn-danger">Delete</button></td>
              </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="checkout-section">
        <button class="btn-checkout">Checkout</button>
    </div>
</div>